.itemTopOff {	 
	TEXT-ALIGN: center;	
	PADDING: 3px 0px;
	BACKGROUND-COLOR: #8B4513;
	WIDTH: 130px;
	BORDER-TOP: #E6E6E6 1px solid;
	BORDER-BOTTOM: #E6E6E6 1px solid;
	BORDER-RIGHT: #FFFFFF 1px solid;
	BORDER-LEFT: #E6E6E6 1px solid;
}

.itemTopOn {
	TEXT-ALIGN: center;	
	PADDING: 3px 0px;	
	BACKGROUND-COLOR: #f0f0f0;
	WIDTH: 130px;
	BORDER-BOTTOM: #000000 1px solid;
	BORDER-TOP: #000000	1px solid;
	BORDER-LEFT: #000000 1px solid;	
	BORDER-RIGHT: #000000 1px solid;
}

.itemSubOff {	
	TEXT-ALIGN: center;	
	PADDING: 3px 0px;
	BACKGROUND-COLOR: #314048;
	WIDTH: 130px;
	BORDER-TOP: #E6E6E6 1px solid;
	BORDER-BOTTOM: #E6E6E6 1px solid;
	BORDER-RIGHT: #FFFFFF 1px solid;
	BORDER-LEFT: #E6E6E6 1px solid;
}

.itemSubOn {
	TEXT-ALIGN: center;	
	PADDING: 3px 0px;	
	BACKGROUND-COLOR: #f0f0f0;
	WIDTH: 130px;
	BORDER-BOTTOM: #000000 1px solid;
	BORDER-TOP: #000000	1px solid;
	BORDER-LEFT: #000000 1px solid;	
	BORDER-RIGHT: #000000 1px solid;
}

.itemTitle {
	BORDER-BOTTOM: #000000 1px solid;
	TEXT-ALIGN: center;
	BORDER-LEFT: #000000 1px solid;
	PADDING-BOTTOM: 1px;
	BACKGROUND-COLOR: #c99666; 
	PADDING-LEFT: 1px;
	WIDTH: 130px;
	PADDING-RIGHT: 1px;
	BORDER-TOP: #000000 1px solid;
	CURSOR: default;
	BORDER-RIGHT: #000000 1px solid;
	PADDING-TOP: 1px
}

.fontOff {
	FONT-FAMILY: verdana;
	COLOR: #f0f0f0;
	FONT-SIZE: 10px;
}

.fontOn {
	FONT-FAMILY: verdana;
	COLOR: #314048;
	FONT-SIZE: 10px;
}

.fontTitle {
	FONT-FAMILY: verdana;
	COLOR: #ffffff;
	FONT-SIZE: 10pt
}

.tagOff {
	WIDTH: 8px;
	BACKGROUND: url(images/tagRN.gif) no-repeat 50% bottom;
	FLOAT: right;
	HEIGHT: 13px
}

.tagOn {
	WIDTH: 8px;
	BACKGROUND: url(images/tagRH.gif) no-repeat 50% bottom;
	FLOAT: right;
	HEIGHT: 13px
}

.tagDownOff {
	WIDTH: 20px;
	BACKGROUND: url(/ibiraweb/portal/imagens/mais.gif) no-repeat left bottom;
	FLOAT: right;
	HEIGHT: 10px
}

.tagDownOn {
	WIDTH: 20px;
	BACKGROUND: url(/ibiraweb/portal/imagens/mais.gif) no-repeat left bottom;
	FLOAT: right;
	HEIGHT: 10px
}


.vtr1
{
    BACKGROUND-POSITION: 300px 25px;
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-IMAGE: url(../imagens/fundoF.png);
    COLOR: #FFFFFFF;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    
}